version: '3'
services:
### mysql ###
  ecjia-daojia-db:
    image: mysql:${MYSQL_VERSION}
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - ./db/mysql:/var/lib/mysql
      - ./services/mysql/my.cnf:/etc/mysql/my.cnf:ro
      - ./logs/mysql:/var/log/
      - ./services/mysql/importdatabase.sh:/tmp/importdatabase.sh
      - ./services/mysql/ecjiademo_daojia.sql.gz:/tmp/ecjiademo_daojia.sql.gz
    environment:
      COMPOSE_PROJECT_NAME: 'ecjia-daojia-db'
      MYSQL_ROOT_PASSWORD: ecjia@password
      MYSQL_DATABASE: ecjia-daojia
      MYSQL_USER: ecjia
      MYSQL_PASSWORD: ecjia123
    env_file:
      - ./.env
    restart: always

### phpmyadmin ###
  ecjia-daojia-phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    environment:
      COMPOSE_PROJECT_NAME: 'ecjia-daojia-phpmyadmin'
      PMA_HOST: ecjia-db
      PMA_PORT: 3306
    ports:
        - "${PHPMYADMIN_PORT}:80"
    external_links:
      - ecjia-daojia-db
    depends_on:
      - ecjia-daojia-db
    env_file:
      - ./.env
  
### php-fpm ###
  ecjia-daojia-php:
    build: 
      context: ./services/php-fpm
      dockerfile: "Dockerfile-${PHP_VERSION}"
    environment:
      COMPOSE_PROJECT_NAME: 'ecjia-daojia-php'
    ports:
      - "9000"
    volumes:
      - ./www:/usr/share/nginx/html
      - ./logs/ecjia:/usr/share/nginx/html/content/storages/logs
      - ./services/php-fpm/php.ini-${PHP_VERSION}:/usr/local/etc/php/php.ini:ro
    external_links:
      - ecjia-daojia-db
    depends_on: 
      - ecjia-daojia-db
    env_file:
      - ./.env
    restart: always
  
### web server ###
  ecjia-daojia-web:
    image: nginx:latest
    environment:
      COMPOSE_PROJECT_NAME: 'ecjia-daojia-web'
    ports:
      - "${WEB_HTTP}:80"
      - "${WEB_HTTPS}:443"
    volumes:
      # app
      - ./www:/usr/share/nginx/html
      # nginx configs
      - ./services/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./services/nginx/conf.d:/etc/nginx/conf.d:ro
      # certificates
      - ./services/nginx/ca/${CRT_NAME}.crt:/etc/nginx/server.crt:ro
      - ./services/nginx/ca/${KEY_NAME}.key:/etc/nginx/server.key:ro
      # log
      - ./logs/nginx:/var/log/nginx/
    external_links:
      - ecjia-daojia-php
    depends_on:
      - ecjia-daojia-php
    env_file:
      - ./.env
    restart: always

### memcached ###
  ecjia-daojia-memcached:
    build: 
      context: ../../services/memcached
    environment:
      COMPOSE_PROJECT_NAME: 'ecjia-daojia-memcached'
    volumes:
      - ./db/memcached:/var/lib/memcached
    ports:
      - "11211:11211"
    env_file:
      - ./.env
    depends_on:
      - ecjia-daojia-db
    restart: always
